<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4aaf599d40.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

            <div id="home-body">


                <div class="bg-image" id="home">
                    <div id="quotes">
                        <p>“Trust is the foundation of every successful sale” </p>
                    </div>
                </div>
                <br>
                <br>

                <marquee style="color:white">India’s No.1 Earwear Audio Brand.<span id="mq">The Top Rated Bluetooth Earbuds in the Market.</span> India’s No.1 Earwear Audio Brand. <span id="mq">The Top Rated Bluetooth Earbuds in the Market.</span>
                </marquee>
                <br>
                <br>
                <br>
                <div>
                    <h1>About us</h1>
                    <br>
                    <div id="about">
                        <p>" BoAt is an Indian based consumer electronics brand established in 2015 that markets earphones, headphones stereos, travel chargers and premium rugged cables. ... Ltd.") is an India-based company which was incorporated in November
                            2013."
                        </p>
                    </div>
                </div>
                <br><br>
                <div>
                    <a href="/products"><img src="https://i.ibb.co/Snbd7z4/Screenshot-Capture-2021-10-31-11-55-40.png" alt="aaaa" class="bg-image1" id="home1"></a>

                </div>

                <br>
                <div class="about-section" id="about-section">
                    <h1>Airdopes - The Top Rated Bluetooth Earbuds in the Market</h1>
                    <br>
                    <ul>
                        <li> Airdopes offer the most incredible listening experience with revolutionary design. Truly wireless with no cables, no connectors, and no hassles. Designed for comfort and unstoppable music, always remain on your toes as Airdopes
                            brings to you the dopest tech there is out there!</li>
                        <br>
                        <li>Powered by the latest and greatest IWP™ technology & ASAP™ Fast Charge technology, these in-ear earbuds power on and pair in an instant right out of the charging case. No more going into settings to find and pair the device, welcome
                            to the new era of seamless, instant connection. Engineered to perfection, Airdopes are perfected for superior calls and music. These true wireless earbuds come with drivers that deliver unique sound exclusive to boAt, sound
                            that is unmatched and inimitable.</li>
                        <br>

                        <li> Perfect for work from home with the advanced built-in mic that accurately captures sounds while also allowing noise cancellation to cancel out ambient noise so you’re heard clearly. Sound with unmatched style. Airdopes are available
                            in a variety of colours that brings the latest fashion trends to the forefront. The variety of colours available make Airdopes the wireless earbuds to die for.</li>




                    </ul>
                </div>
                <br><br>
                <div id="ship">
                    <p><span><i class="fas fa-shipping-fast" ></i> &nbsp;&nbsp;Free Shipping &nbsp;&nbsp;&nbsp;&nbsp;</span><span id="space"> <i class="fas fa-percent"></i> &nbsp;&nbsp;Discount &nbsp;&nbsp;&nbsp;&nbsp; </span><span id="space"><i class="fas fa-shield-alt"></i> &nbsp;&nbsp;Secure Checkout</span></p>
                </div>

                <div id="ship1">
                    <p>India's fastest growing audio & wearables brand.The most incredible range of wireless earphones, earbuds, headphones, smart watches, and home audio. From workouts to adventures, boAt will get you sailing!</p>
                </div>
            </div>

            <footer class="footer">
                <div class="l-footer" id="l-footer">
                    <h1>
                        <i class="fas fa-headphones-alt"></i> &nbsp;Boat</h1>

                    <p id="mov-footer">
                        BoAt is an Indian based consumer electronics brand established in 2015 that markets earphones, headphones stereos, travel chargers and premium rugged cables. ... Ltd.") is an India-based company which was incorporated in November 2013.
                    </p>
                </div>
                <ul class="r-footer" id="r-footer">
                    <li>
                        <h2>
                            Social</h2>
                        <ul class="box">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Pinterest</a></li>
                            <li><a href="#">Dribbble</a></li>
                        </ul>
                    </li>
                    <li class="features">
                        <h2>
                            Shop</h2>
                        <ul class="box h-box">
                            <li><a href="#">Airdopes</a></li>
                            <li><a href="#">Headphones</a></li>
                            <li>
                                <a href="#">Home Audio</a>
                            </li>
                            <li><a href="#">Gift Card</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2>
                            Legal</h2>
                        <ul class="box">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Contract</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="b-footer">
                    <p id="mov-footer1">
                        BoAt is an Indian based consumer electronics brand established in 2015 that markets earphones, headphones stereos, travel chargers and premium rugged cables. ... Ltd.") is an India-based company which was incorporated in November 2013.
                    </p>

                    <p id="mov-footer2">
                        All rights reserved by ©Boat 2021 </p>
                </div>

            </footer>
            <%- include('../includes/end.ejs') %>